<mat-list>
  <mat-list-item>Milk</mat-list-item>
</mat-list>

<mat-grid-list cols="3" rowHeight="2:1 ">
  <a routerLink="/cowmilk" > <mat-grid-tile>Cow Milk</mat-grid-tile></a>
  <mat-grid-tile>Buffollo Milk</mat-grid-tile>
  <mat-grid-tile>Goat Milk</mat-grid-tile> 
</mat-grid-list>

<mat-list>
  <mat-list-item>Dairy Product</mat-list-item>
</mat-list>

<mat-grid-list cols="3" rowHeight="2:1 ">
  <mat-grid-tile>Panner</mat-grid-tile>
  <mat-grid-tile>Ghee</mat-grid-tile>
  <mat-grid-tile>Sweets</mat-grid-tile> 
</mat-grid-list>
  <app-footer></app-footer>