<div class=" mt-5 card-deck">
  
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2018/05/08/18/40/cow-3383624_960_720.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">COW MILK</h5>
        <p class="card-text">Fresh milk to your home diretly supply from farmer </p>
        
      </div>
    </div>
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2016/04/07/22/47/bison-1315043_960_720.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BUFFOLLO MILK</h5>
        <p class="card-text">Fresh milk to your home diretly supply from farmer</p>
       
      </div>
    </div>

    <div class="card">
        <img src="https://cdn.pixabay.com/photo/2019/03/13/11/07/supermarket-4052658_960_720.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">OTHERS PRODUCTS</h5>
          <p class="card-text">Buy dairy product at lowest rate</p>
          
        </div>
      </div>
  </div>
  <app-footer></app-footer>