img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  
  }

  .carousel-control-next-icon, .left.carousel-control {
    display: none;
}
.carousel-control-next-icon, .left.carousel-control {
  opacity: 0;
  filter:alpha(opacity=0); /* IE support */
}