img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
  
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  opacity: 0;
  filter:alpha(opacity=0); /* IE support */
}